.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header .Welcome-header__title {
  font-size: 2em;
  margin-bottom: 30px;
}

.welcome-header .Welcome-header__text {
  opacity: 0.5;
}
