#friends-display-link {
  display: block;
  text-align: center;
  background-color: #f1f1f1;
  padding: 13px 0px;
  font-weight: bold;
}

#friends-display-link .fas {
  opacity: 0.2;
}

#friends-display-link .fa-info-circle {
  padding: 0px 7px;
}

#friends-display-link .fa-angle-right {
  padding: 0px 13px;
}
