.welcome-header {
  margin: 85px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header .Welcome-header__title {
  font-size: 2em;
  margin-bottom: 40px;
}

.welcome-header .Welcome-header__text {
  opacity: 0.5;
}

@keyframes cogSpin {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: cogSpin 1s linear infinite;
}
