.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  box-sizing: border-box;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e463e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 23px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__ellipsis_notification {
  display: flex;
  position: absolute;
  left: 33px;
  bottom: 25px;
}

@keyframes appearbtn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearbtn 0.1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.1s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.3s;
}
